.video_container {
  width:100%;
  height:100%;
  background-color:#CCCCCC;
  position:relative;
}
 
.bug_container {
  width:20%;
  height:20%;
  background-color:#999999;
  position:absolute;
  bottom:0px;
  right:0px;
}